$black      : #111;
$white      : #eee;
$dark-grey  : #424242;

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  width: 100%;
}
.bar-chart {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.chart {
  background-color: rgba($dark-grey, 0.2);
}
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.bar:hover {
  fill: red;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 4em;
  padding: 2px;
  font: 22px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  > div:first-child {
    font-weight: bold;
  }
}
